@import "../index.css";
.login-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
}

.rays {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
}
