@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;
  --font-Sacramento: Sacramento, cursive;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("/hero-BG.png");
}

@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1 {
    @apply mx-auto max-w-3xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[55px] sm:leading-19;
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply sm:mt-0;
  }

  header img {
    @apply w-100 max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-57.5 flex flex-row items-center;
    }

    & ul li p {
      @apply fancy-text mt-5.5 text-nowrap;
    }

    & ul li img {
      @apply w-31.75 h-40.75 rounded-lg object-cover -ml-3.5;
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10;

    & img {
      @apply rounded-lg h-auto w-full;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  }

  .movie-modal {
    @apply relative z-50;

    & .modal-panel {
      @apply bg-[#0F0D23] rounded-xl p-6 max-w-[90%] w-full mt-0 flex flex-col pb-13;

      -webkit-box-shadow: 0px 0px 100px 0px rgba(171, 139, 255, 0.3);
      box-shadow: 0px 0px 100px 0px rgba(171, 139, 255, 0.3);

      & .modal-contents {
        @apply flex min-[640px]:flex-row not-md:flex-col not-md:items-center not-sm:items-center mb-7;

        & img {
          @apply rounded-2xl sm:w-57 sm:mr-10 not-md:mb-7 min-[470px]:max-[640px]:w-57;
        }

        & video {
          @apply rounded-2xl w-full;
        }
      }
    }

    & .movie-meta {
      @apply min-[640px]:flex min-[640px]:flex-col min-[640px]:gap-5 min-[640px]:mt-6;
    }

    & .meta-row {
      @apply min-[640px]:grid min-[640px]:grid-cols-[160px_1fr] min-[640px]:gap-6 min-[640px]:items-start;
    }

    & .meta-title {
      @apply text-[#A8B5DB] text-sm font-medium;
    }

    & .meta-value {
      @apply text-white text-sm leading-relaxed;
    }

    & .btns {
      @apply grid grid-cols-[160px_1fr] gap-6 items-start not-min-[640px]:mt-4;
    }
  }

  & .profile-modal {
    @apply relative z-50;

    & .profile-panel {
      @apply bg-[#0F0D23] rounded-xl p-6 max-w-[90%] w-250 mt-0 flex flex-col pb-13;

      -webkit-box-shadow: 0px 0px 100px 0px rgba(171, 139, 255, 0.3);
      box-shadow: 0px 0px 100px 0px rgba(171, 139, 255, 0.3);

      & .profile-contents {
        @apply flex min-[640px]:flex-row not-md:flex-col not-md:items-center not-sm:items-center mb-7 text-white;

        & img {
          @apply rounded-2xl sm:w-57 sm:mr-10 not-md:mb-7 min-[470px]:max-[640px]:w-57;
        }
      }
    }
  }

  & .not-found-page {
    @apply min-h-screen flex bg-linear-to-tl from-[#37474F] from-10% to-[#222c31];

    .not-found-wrapper {
      @apply max-w-7xl w-full sm:pr-30 grid grid-cols-1 md:grid-cols-2 items-center gap-10;
    }

    .not-found-page h1 {
      @apply text-left text-6xl;
    }

    .drunk {
      @apply flex flex-col items-center;
    }

    .img-div {
      @apply sm:mt-20;
    }
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility btn-gradient {
  @apply text-black rounded cursor-pointer bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] self-end;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
